global
  log stdout format raw local0
  maxconn 256
  ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
  log global
  option dontlognull
  timeout connect 5s
  timeout client 10m
  timeout server 10m

frontend newapi_public_mux
  bind :3000
  mode tcp
  tcp-request inspect-delay 5s
  acl is_tls req.ssl_hello_type 1
  acl is_http req.proto_http
  tcp-request content accept if is_tls
  tcp-request content accept if is_http
  use_backend newapi_tls_loopback if is_tls
  default_backend newapi_plain_rejected

backend newapi_plain_rejected
  mode tcp
  server rejector 127.0.0.1:3444 check

backend newapi_tls_loopback
  mode tcp
  server terminator 127.0.0.1:3443 check

frontend newapi_tls_terminator
  bind 127.0.0.1:3443 ssl crt /usr/local/etc/haproxy/certs/tls.pem alpn h2,http/1.1
  mode http
  option forwardfor
  http-request set-header X-Forwarded-Proto https
  http-request set-header X-Forwarded-Port 3000
  default_backend newapi_tls

backend newapi_tls
  mode http
  server newapi 127.0.0.1:3001 check

frontend newapi_plain_rejector
  bind 127.0.0.1:3444
  mode http
  http-request return status 426 content-type application/json string '{"error":"https_required"}'
